FILE_ENV="${ENVFILE:-.env}"

if [ -e ${FILE_ENV} ]; then
    dotenv ${FILE_ENV}
else
    echo "ERROR: ${FILE_ENV} environment file not found."
    echo "Set ENVFILE variable pointing to your envfile."
    echo "By default it will point to a local .env"
    exit 1
fi

nvmrc=~/.nvm/nvm.sh
source $nvmrc
nvm use
PATH_add node_modules/.bin


